:root {
  --dp-green: #0f6507;
  --dp-orange: #f58220;
}

/* index.html */
.outer-wrapper {
	margin-top: 100px;
}

/* Timer */
#timer-container {
    background-color: black
    color: white;
}

#timer {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Scoreboard */
.score-banner {
    text-align: center;
    background-color: var(--dp-green);
    color: white;
    border: solid white 1px;
}

.scoreboard {
    margin-top:20px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px black;
}

.score-element {
    text-align: center;
    background-color: var(--dp-orange);
    border: solid white 1px;
}

html, body {
    height: 100%;
}

#video {
    width: 100%;
}

/* login.html */
.login {
    margin-top:20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px black;
}

.login-white {
    background-color: var(--dp-orange);
    color: #ffffff;
    border: solid white 1px;

}

.login-black {
    background-color: var(--dp-green);
    color: #000000;
    border: solid white 1px;
}

.login h2 {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.login h3 {
    margin-top: 5%;
}

.login .alert-holder {
    background-color: var(--dp-green);
    border: solid white 1px;
}

.login #alert-login {
    margin-top: 15px;
}

/* black panel */
.login-black .myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background-color: var(--dp-orange);
  }

.login-black .name-selector {
    background-color: var(--dp-orange);
    border-color: #ffffff;
    width: 80%;
}

.login-black .name-selector:active {
    background-color: var(--dp-orange);
    border-color: #ffffff;
}

.login-black .name-selector:hover {
    background-color: var(--dp-orange);
    border-color: #ffffff;
    opacity: 0.7;
}

.login-black .name-selector:mouseout {
    background-color: var(--dp-orange);
    border-color: #ffffff;
}

/* white panel */
.login-white .myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background-color: var(--dp-green);
  }

.login-white .name-selector {
    background-color: var(--dp-green);
    border-color: #ffffff;
    width: 80%;
}

.login-white .name-selector:active {
    background-color: var(--dp-green);
    border-color: #ffffff;
}

.login-white .name-selector:hover {
    background-color: var(--dp-green);
    border-color: #ffffff;
    opacity: 0.7;
}

.login-white .name-selector:mouseout {
    background-color: var(--dp-green);
    border-color: #ffffff;
}

/* login button and link  */
.login-register {
    margin-top: 20px;
    color: #ffffff;
    float: right;
    margin-bottom: 10px;
}

.login-button {
    background-color: var(--dp-orange);
    border-color: white;
}

#register-link {
    color: #ffffff;
}

/* register.html */
#register-container {
    margin-top:20px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px black;
    color: #ffffff;
}

#register-header {
    background-color: var(--dp-orange);
    border: solid white 1px;

}

#register-content {
    background-color: var(--dp-green);
    border: solid white 1px;
}

#register-linking {
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

.register-button {
    background-color: var(--dp-orange);
}

#leave-register {
    color: #ffffff;
}

.score-buttons button{
    background-color: var(--dp-green);
}

.score-buttons button:hover {
    background-color: var(--dp-green);
    opacity: 0.7;
}

#scorewhite {
    color: #ffffff;
}


